// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
@import 'palette';

// General
$accent_color: if($variant=='light', $accent_bg_color, darken($accent_bg_color, 4%));
$radius: 6px;

// Clutter background colors
$bg_color: if($variant=='light', lighten($porcelain, 5%), darken($inkstone, 5%)); // e8, 22
$bg_color2: if($variant=='light', darken($porcelain, 5%), lighten($inkstone, 5%)); // d0, 30
$bg_color3: if($variant=='light', #b0b0b0, lighten($inkstone, 10%)); // b0, 45
$bg_color4: if($variant=='light', $silk, darken($inkstone, 5%)); // c0, 39

// Borders and separators
$borders_color: if($variant=='light', darken($bg_color, 20%), $bg_color2);
$menus_border_color: transparentize(black, 1.0);
$shadow_color: transparentize(black, 0.5);
$separator_color: if($variant=='light', darken($bg_color, 15%), lighten($bg_color, 2%));

// Text
// Sucharu: we already have fg color defined in gnome-shell, we prefer to use them
$fg_color: if($variant=='light', $inkstone, $porcelain);
$text_color: $fg_color;
$noaccent_selected_fg_color: if($variant=='light', $text_color, $white);
$selected_fg_color: $accent_fg_color;
$dim_color: if($variant=='light', lighten($text_color, 20%), darken($text_color, 20%));

// Panel
// Sucharu: we are imitating gnome-shell panel
// which uses white-ish fg on dark bg
// for both light and dark mode
$panel_bg: if($variant=='light', lighten($accent_bg_color, 10%), darken($accent_bg_color, 10%));
$panel_fg: $fg_color;


$link_color: if($variant == 'light', darken($accent_color,10%), lighten($accent_color,20%));

$warning_color: $yellow;
$error_color: $red;
$destructive_color: if($variant=='light', $red, darken($red, 10%));
$osd_destructive_color: if($variant == 'light', #F04A50, #c01c28);

$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));

$tooltip_bg_color: transparentize(mix($accent_color, black, 95%), 0.05);
$tooltip_fg_color: $selected_fg_color;
$tooltip_border_color: darken($porcelain, 5%);

$osd_fg_color: $silk;
$osd_bg_color: transparentize(lighten($jet, 2%), 0.025);

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 20%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);

$entry_bg: if($variant=='light', $bg_color2, $bg_color2);
$entry_border: if($variant=='light', #cfd6e6, darken($borders_color, 0%));

$button_bg: if($variant == 'light', $bg_color3, $bg_color2);
$button_border: $entry_border;

$applet_separator_color: $borders_color;

$corner_bar_unhighlighted: $applet_separator_color;
$corner_bar_highlighted: if($variant == 'light', darken($applet_separator_color, 10%), opacify($applet_separator_color, .1));
