// Sucharu: any modifications to Mint's original cinnamon theme
// may be added in this file. We will use this file override
// any settings that are contradictory to project goals of sucharu
// except for the colours. Any modifications in colors should be added
// to _colors.scss

// hover Sucharu: we want the hover bg to be a visible gray for dark and light shell themes
$hover_bg_color: transparentize($selected_bg_color, 0.5);
$hover_fg_color: $fg_color;
$hover_borders_color: lighten($borders_color,if($variant=='light', 5%, 3%));

// active Sucharu: we want the active bg to be a visible gray for dark and light shell themes
$active_bg_color: transparentize($selected_bg_color, 0.1);
$active_fg_color: darken($fg_color,if($variant=='light', 5%, 3%));
$active_borders_color: darken($borders_color,if($variant=='light', 5%, 3%));

//
// Calendar
//
.calendar {
  padding: .4em 1.75em;
}

.calendar-main-box {
  border-radius: 10px;
  padding: 2px;
}

.calendar-events-main-box {
  border-radius: 10px;
}

.calendar-day-base {
  border-radius: 999px;
}

.calendar-event-button {
  border-radius: 5px;
  &:hover {
    border-radius: 0 25px 25px 0;
  }
}

// arrow back
.calendar-change-month-back {
  border-radius: 10px;
  &:hover, &:focus {
    background-color: $hover_bg_color;
  }
  &:active {
    background-color: $active_bg_color;
  }

  &:rtl {
    &:hover, &:focus {
      background-color: $hover_bg_color;
    }
    &:active {
      background-color: $active_bg_color;
    }
  }
}

// arrow forward
.calendar-change-month-forward {
  border-radius: 10px;
	&:hover, &:focus {
	  background-color: $hover_bg_color;
	}
	&:active {
	  background-color: $active_bg_color;
	}

  &:rtl {
    &:hover, &:focus {
      background-color: $hover_bg_color;
    }
    &:active {
      background-color: $active_bg_color;
    }
  }
}

//
// buttons and entries
//
%entry, %button {
  &, &:focus, &:hover, &:hover:focus, &:active, &:active:focus, &:insensitive {
    border-radius: 50px;
  }
}

:focus, :hover, :hover:focus, :active, :active:focus, :insensitive {
  border-radius: 10px;
}


//
// Popvers/Menus
//
.menu {
  margin: 10px;
  border-radius: 20px;
  &.top {
    margin: 10px;
    border-radius: 10px 10px 25px 25px;
  }

  &.bottom {
    margin: 10px;
    border-radius: 25px 25px 10px 10px;
  }

  &.left {
    margin: 10px;
    border-radius: 10px 25px 25px 10px;
  }

  &.right {
    margin: 10px;
    border-radius: 25px 10px 10px 25px;
  }
  
  &-favorites-box {
    border-radius: 25px;
  }
  
  &-favorites-button {
    border-radius: 20px;
  }
  
  &-category-button {
    border-radius: 25px;
    &-selected {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 5px 25px 25px 5px;
    }
  }

  &-application-button {
    border-radius: 25px;
    &-selected {
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 25px;
    }
  }
}

.panel {
  &-top {
    background-gradient-direction: vertical;
    background-gradient-start: transparentize($panel_bg, 0.3);
    background-gradient-end: transparentize(mix($panel_fg, $panel_bg, 60%), 0.6);
  }

  &-bottom {
    background-gradient-direction: vertical;
    background-gradient-start: transparentize(mix($panel_fg, $panel_bg, 60%), 0.6);
    background-gradient-end: transparentize($panel_bg, 0.3);
  }

  &-left {
    background-gradient-direction: horizontal;
    background-gradient-start: transparentize($panel_bg, 0.3);
    background-gradient-end: transparentize(mix($panel_fg, $panel_bg, 60%), 0.6);
  }

  &-right {
    background-gradient-direction: horizontal;
    background-gradient-start: transparentize(mix($panel_fg, $panel_bg, 60%), 0.6);
    background-gradient-end: transparentize($panel_bg, 0.3);
  }
}
