src/Mint-Y/gtk-3.0/.sass-cache
src/Mint-Y/cinnamon/sass-cache

# SASS cache files
*.scssc
# generated css files
*.css

# directories
usr/*
__pycache__/*
debian/sucharu-themes
debian/sucharu-theme-plank
debian/.debhelper*

# dpkg-buildpackage generated
*.substvars
