Source: sucharu
Section: gnome
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper-compat (= 13),
               dh-migrations,
Build-Depends-Indep: libglib2.0-dev,
                     meson (>= 0.59),
                     sassc,
                     inkscape,
                     gtk2-engines-pixbuf,
                     gtk2-engines-murrine,
                     gnome-themes-standard,
                     python3
Standards-Version: 4.6.0
Homepage: https://github.com/hsbasu/sucharu

Package: sucharu-theme-gnome-shell
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Breaks: gnome-shell (<< 42~)
Description: Sucharu GNOME Shell desktop theme
 This is the GNOME Shell theme for MamoLinux
 .
 This package contains the GNOME Shell theme part
 .
 If you want to follow development, more information here:
 https://github.com/hsbasu/sucharu/gnome-shell.

Package: sucharu-themes
Architecture: all
Replaces: mamolinux-themes
Conflicts: mamolinux-themes
Depends: ${misc:Depends}, mamolinux-icons, mamolinux-themes-cursor
Description: MamoLinux Desktop themes
 A collection of GTK, Metacity, Cinnamon themes
 for MamoLinux

Package: sucharu-theme-plank
Architecture: all
Replaces: mamolinux-themes-plank
Conflicts: mamolinux-themes-plank
Depends: ${misc:Depends}
Description: Plank themes for MamoLinux
 A collection of Plank themes
 for MamoLinux
