// menu buttons
menuitem.button.flat,
modelbutton.flat {
	&:checked { color: $selected_fg_color; }
}

//
// Spinbuttons
//
spinbutton {
  // button:active { color: $selected_fg_color; }
}

%header_widgets {
  // Headerbar Entries
  entry {

		&:focus {
			background-clip: if($variant=='light', border-box, padding-box);
		}

    @each $e_type, $e_color, $e_fg_color in (warning, $warning_color, $warning_fg_color),
                                            (error, $error_color, $error_fg_color) {
      &.#{$e_type} {
        border-color: if($variant=='light', $e_color, $header_entry_border);
  	  }
		}
	}

  // Headerbar Buttons
  button {
    &:active, &:checked {
      @include button(header-active);
      background-clip: if($variant=='light', border-box, padding-box);
    }
  }

  // Headerbar ComboBoxes
  combobox {
    > .linked > entry.combo {
      &:dir(ltr) {
        @if $variant=='light' { &:focus { box-shadow: 1px 0 $selected_bg_color; } }
      }
      &:dir(rtl) {
        @if $variant=='light' { &:focus { box-shadow: -1px 0 $selected_bg_color; } }
      }
    }
	}

  progressbar {
    trough { background-color: if($variant=='light', opacify($header_button_border, 0.05), $header_button_border); }
  }

  // Headerbar Scale
  scale {
    $_trough_bg: if($variant=='light', opacify($header_button_border, 0.05), $header_button_border);

    slider {
      $_slider_border: if($variant=='light', opacify($header_button_border, 0.2), opacify($header_button_border, 0.3));
      $_slider_bg: if($variant=='light', opacify($header_button_bg,1), lighten(opacify($header_bg,1), 10%));
    }
    trough {
      &:disabled { background-color: if($variant=='light', transparentize($_trough_bg, 0.05), transparentize($_trough_bg, 0.1)); }
    }
  }
}

//
// Tree Views
//
treeview.view {
  border-left-color: transparentize($fg_color, 0.85);   // this is actually the tree lines color,
  border-top-color: transparentize(black, 0.9);       // while this is the grid lines color, better than nothing
}

//
// Menus
//
menubar,
.menubar {
  > menuitem {
    &:hover { //Seems like it :hover even with keyboard focus
      color: $selected_fg_color;
    }
	}
}

menu,
.menu {
  menuitem {
    &:hover {
      color: $selected_fg_color;
    }
	}
}

@each $k,$l in ('',''),
               (':checked','-active'),
               (':disabled','-insensitive'),
               (':checked:disabled','-active-insensitive') {

  // load switch troughs from .png files in assets directory

  headerbar switch#{$k},
  .primary-toolbar switch#{$k},
  .primary-toolbar toolbar switch#{$k} {
    background-image: -gtk-scaled(url("assets/switch#{$l}-header#{$asset_suffix}.png"),url("assets/switch#{$l}-header#{$asset_suffix}@2.png"));
  }
}

//
// Calendar
//
calendar {
  &:indeterminate { color: gtkalpha(currentColor,0.55); }
  &.highlight {
    color: $fg_color;
  }
}


//
// Window Decorations
//
decoration {

  $_wm_border: if($variant=='light', transparentize(black, 0.77), transparentize(black, 0.25));

	.ssd &,
  .csd & {
		border-radius: if($variant=='light', 8px 8px 0 0, 4px 4px 0 0);
		// box-shadow: 0 0 0 1px $_wm_border;
		box-shadow: 0 0 0 1px if($variant == 'dark', transparentize(black, 0.35), $_wm_border);
	}
}

//
// Titlebuttons
//

windowcontrols button {
  @extend .image-button;

  @include button(undecorated);

  &.close, &.maximize, &.minimize {
    &, &:hover, &:active, &:checked {
      color: transparent;
      background-color: transparent;
      background-size: 22px 22px;
      background-position: center;
      background-repeat: no-repeat;
      border-width: 0;
      box-shadow: none;
    }
  }
  // Load png assets for each button
  @each $n, $k in ('close','close'), ('maximize','max'), ('minimize','min') {
    @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active'), (':hover:backdrop',''), (':active:backdrop','') {
      &.#{$n}#{$l} {
        color: $jet;
        $bgcolor: null;
        @if $l == ':backdrop' {color: $slate; $bgcolor: $silk}
        @else if $l == ':hover' or $l == ':hover:backdrop' {
          @if $n == 'close' {$bgcolor: lighten($red, 10%)}
          @else if $n == 'maximize' {$bgcolor: lighten($green, 10%)}
          @else if $n == 'minimize' {$bgcolor: lighten($yellow, 10%)}
        } @else if $l == ':active' or $l == ':active:backdrop' {
          @if $n == 'close' {$bgcolor: darken($red, 5%)}
          @else if $n == 'maximize' {$bgcolor: darken($green, 5%)}
          @else if $n == 'minimize' {$bgcolor: darken($yellow, 5%)}
        }
        @else { @if $n == 'close' {$bgcolor: $red}
          @else if $n == 'maximize' {$bgcolor: $green}
          @else if $n == 'minimize' {$bgcolor: $yellow}
        }
        @include draw-circle($bgcolor);
      }
    }
  }
}
