$wm_radius: 5px;
$bt_radius: 2px;
$maximized_radius: 5px;
$shadow_3: none;
$monterey: 'false';
$small_size: 16px;
$circular_radius: 50px;
$container_padding: 2px;

// Buttons

@mixin button($t, $actionb_color:red) {
	//
	// Button drawing function
	//
	// $t:    button type,
	// $actionb_color: used for destructive and suggested action buttons

  @if $t==normal {
	//
	// normal button
	//
    border-radius: 5px;
	}

	@else if $t==hover {
	//
	// hovered button
	//
    border-radius: 5px;
	}

	@else if $t==active {
	//
	// pushed button
	//
		color: $selected_fg_color;
    border-radius: 5px;
	}

	@else if $t==insensitive {
	//
	// insensitive button
	//
    border-radius: 5px;
	}

	@else if $t==insensitive-active {
	//
	// insensitive pushed button
	//
		color: transparentize($selected_fg_color, 0.2);
    border-radius: 5px;
	}

  @if $t==header-normal {
  //
  // normal header-bar button
  //
    border-radius: 5px;
  }

  @else if $t==header-hover {
  //
  // hovered header-bar button
  //
    border-radius: 5px;
  }

  @else if $t==header-active {
  //
  // pushed header-bar button
  //
    color: $selected_fg_color;
    border-color: if($variant=='light', $header_button_border, transparent);
    border-radius: 5px;
  }

  @else if $t==header-insensitive {
  //
  // insensitive header-bar button
  //
    border-radius: 5px;
  }

  @else if $t==header-insensitive-active {
  //
  // header-bar insensitive pushed button
  //
    color: transparentize($selected_fg_color, 0.2);
    border-radius: 5px;
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    border-radius: 5px;
  }

  @else if $t==osd-hover {
  //
  // active osd button
  //
    border-radius: 5px;
  }

  @else if $t==osd-active {
  //
  // active osd button
  //
    border-radius: 5px;
  }

  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    border-radius: 5px;
  }

  @else if $t==suggested_destructive {
  //
  // suggested or destructive action buttons
  //
    border-radius: 5px;
  }

  @else if $t==undecorated {
  //
  // reset
  //
    color: transparent;
  }
}
