// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

// We need to set this first because we use it to tint many
// of the remaining colors
$selected_bg_color: if($variant == 'light', #92b372, #8fa876);

$base_color: if($variant == 'light', mix($selected_bg_color, #ffffff, 2%), mix($selected_bg_color, #404040, 2%));
$text_color: if($variant == 'light', #303030, #dadada);
$bg_color: if($variant == 'light', mix($selected_bg_color, #f0f0f0, 1.5%), mix($selected_bg_color, #383838, 2%));
$fg_color: if($variant =='light' or $darker =='true', transparentize(#404040, 0.13), transparentize(#d9d9d9, 0.13));

$selected_fg_color: #ffffff;
$selected_borders_color: darken($selected_bg_color, 20%);
// $borders_color: if($variant =='light', #bdbdbd, darken($bg_color,6%));
$borders_color: if($variant =='light', darken($bg_color, 18%), darken($bg_color,6%));
$separator_color: if($variant == 'light', #dfdfdf, darken($bg_color, 6%));

$link_color: #5294e2;
$link_visited_color: #5294e2;

$selection_mode_bg: $selected_bg_color;
$selection_mode_fg: $selected_fg_color;
$warning_color: #f27835;
$warning_fg_color: white;
$error_color: #fc4138;
$error_fg_color: white;
$success_color: #73d216;
$destructive_color: #f04a50;
$suggested_color: #6db442;
$question_color: #55c1ec;

$drop_target_color: $selected_bg_color;

//insensitive state derived colors
$insensitive_fg_color: transparentize($fg_color, 0.45);
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$dim_label_fg_color: transparentize($fg_color, 0.35);

// $header_bg: if($variant=='light' and $darker=='false', #cccccc, #292929);
// $header_bg_backdrop: if($darker == 'true' or $variant == 'dark', lighten($header_bg, 1.5%), lighten($header_bg, 3%));
// $header_border: if($variant == 'light' and $darker == 'false', #d0d0d0, #2f2f2f);
// $header_highlight: if($variant == 'light' and $darker == 'false', #eeeeee, #373737);
// $header_fg: if($variant == 'light' and $darker == 'true', $bg_color, saturate(transparentize($fg_color, 0.0), 10%));

// $dark_sidebar_bg: if($variant == 'light' and $darker == 'false', #bfbfbf, #292929);
// $dark_sidebar_fg: if($variant == 'light' and $darker == 'false', #404040, #dbdbdb);
// $dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, darken($dark_sidebar_bg, 5%));
$header_bg: if($variant == 'light', darken($bg_color, 5%), darken($bg_color, 5%));
$header_bg_backdrop: if($variant == 'dark', lighten($header_bg, 1.5%), lighten($header_bg, 3%));

$header_border: if($variant == 'light', #BDBDBD, darken($header_bg, 4%));
$header_highlight: if($variant == 'light', #EEEEEE, #373737);

$header_fg: $fg_color;

$dark_sidebar_bg: if($variant == 'light', saturate(darken($bg_color, 1%), 5%), mix($selected_bg_color, #353535, 3%));
$dark_sidebar_fg: $fg_color;
$dark_sidebar_border: $borders_color;

$filechooser_bg: $header_bg;

$tooltip_bg_color: #fbeaa0;
$tooltip_fg_color: #4a4a4a;
$tooltip_border_color: #d0d0d0;

$osd_fg_color: #dbdbdb;
$osd_bg_color: if($variant == 'light', #404040, #353535);

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);

$panel_bg: if($variant == 'light' and $darker == 'false', #cccccc, #353535);
$panel_fg: if($variant == 'light' and $darker == 'false', #404040, #dbdbdb);

// Panel colors
$panel_bg_panel: if($variant == 'light' and $darker == 'false',
	linear-gradient(yellow, orange, tomato, red, crimson),
	linear-gradient(GreenYellow, LawnGreen, MediumSeaGreen, ForestGreen, DarkGreen));

$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #bababa, darken($borders_color, 0%));

$header_entry_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($base_color, 0.1));
$header_entry_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $borders_color;

$header_button_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($button_bg, 0.1));
$header_button_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$trough_color_treeview: if($variant == 'light', #d9d9d9, darken($bg_color, 5%));
$trough_color: if($variant == 'light', #ffffff, darken($bg_color, 5%));

// WM Colors

$titlebar_fg: if($variant == 'light', #404040, $fg_color);
$titlebar_fg: if($darker == 'true', $fg_color, $titlebar_fg);
$wm_title: if($variant == 'light' and $darker =='false', $fg_color, #e6e6e6);
$wm_title_unfocused: if($variant == 'light' and $darker =='false', #808080, #bfbfbf);
$wm_bg: if($variant == 'light' and $darker =='false', darken($header_bg, 10%), #141414);
// $wm_bg_unfocused: if($variant == 'light', #cccccc, #333333);
$wm_bg_unfocused: $header_bg;
// $wm_highlight: $header_highlight;
$wm_highlight: if($variant == 'light' and $darker =='false', darken($header_bg, 10%), #141414);
$wm_border: $header_border;

// terminal colours
$terminal_bg: if($variant == 'light', #fdf6e3, #380c0c);
$terminal_fg: if($variant == 'light', #2e3436, #d3d3d3);
