.nemo-window {
	.places-treeview {
		-NemoPlacesTreeView-disk-full-bg-color: lighten($header_bg, 15%);
		-NemoPlacesTreeView-disk-full-fg-color: $blue;
		-GtkTreeView-vertical-separator: 10; 
		.view.cell,
		iconview.cell {
			&:hover,
			&:selected {
				background: $selected_bg_color;
				color: $selected_fg_color;
			}
		}
	}

	.sidebar {
		background-color: $header_bg;
		.view, .iconview, row {
			color: $fg_color;
			background-color: transparent;
		}
	}

	.nemo-window-pane {
		widget.entry {
			background-clip: padding-box;
			min-height: 28px;
			padding: 5px;
			color: $fg_color;
			border: 1px solid $blue;
			border-radius: 3px;
			&:selected {
				background-color: $selected_bg_color;
				color: $selected_fg_color;
			}
		}
	}

	toolbar.primary-toolbar {
		margin-bottom: -1px;
		background: $headerbar_color;
		button {
			@include button(header-normal);
			min-height: 24px;
			padding: 3px;
			&:hover { @include button(header-hover); }

			&:selected,
			&:active,
			&:checked {
				@include button(header-active); 
				&:backdrop {
					@include button(header-normal);
				}
			}

			&:backdrop,
			&:disabled,
			&:backdrop:disabled {
				@include button(header-insensitive);
			}
		}
		.path-bar button {
			&:active, &:checked { border-radius: 0; }
		}
	}

	.nemo-inactive-pane .view:not(:selected),
	.nemo-inactive-pane iconview {
		background-color: darken($base_color, 5%); 
	}

	grid > paned > separator { background-image: image(darken($base_color, 2%)); }
}
