// Buttons

@mixin button($t, $actionb_color:red) {
	//
	// Button drawing function
	//
	// $t:    button type,
	// $actionb_color: used for destructive and suggested action buttons

  @if $t==normal {
	//
	// normal button
	//
    border-radius: 5px;
	}

	@else if $t==hover {
	//
	// hovered button
	//
    border-radius: 5px;
    background-color: transparentize($selected_bg_color, 0.5);
	}

	@else if $t==active {
	//
	// pushed button
	//
    border-radius: 5px;
    background-color: if($variant=='light', lighten($selected_bg_color, 5%), darken($selected_bg_color, 5%));
	}

	@else if $t==insensitive {
	//
	// insensitive button
	//
    border-radius: 5px;
	}

	@else if $t==insensitive-active {
	//
	// insensitive pushed button
	//
    border-radius: 5px;
    background-color: if($variant=='light', lighten($selected_bg_color, 5%), darken($selected_bg_color, 5%));
	}

  @if $t==header-normal {
  //
  // normal header-bar button
  //
    border-radius: 5px;
  }

  @else if $t==header-hover {
  //
  // hovered header-bar button
  //
    border-radius: 5px;
    background-color: transparentize($selected_bg_color, 0.5);
  }

  @else if $t==header-active {
  //
  // pushed header-bar button
  //
    border-radius: 5px;
  }

  @else if $t==header-insensitive {
  //
  // insensitive header-bar button
  //
    border-radius: 5px;
  }

  @else if $t==header-insensitive-active {
  //
  // header-bar insensitive pushed button
  //
    border-radius: 5px;
    background-color: if($variant=='light', lighten($selected_bg_color, 5%), darken($selected_bg_color, 5%));
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    border-radius: 5px;
  }

  @else if $t==osd-hover {
  //
  // active osd button
  //
    border-radius: 5px;
    background-color: transparentize($selected_bg_color, 0.5);
  }

  @else if $t==osd-active {
  //
  // active osd button
  //
    border-radius: 5px;
    background-color: if($variant=='light', lighten($selected_bg_color, 5%), darken($selected_bg_color, 5%));
  }

  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    border-radius: 5px;
  }

  @else if $t==suggested_destructive {
  //
  // suggested or destructive action buttons
  //
    border-radius: 5px;
  }

  @else if $t==undecorated {
  //
  // reset
  //
    color: transparent;
  }
}
